* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}

main {
    max-width: 120rem;
    /* text-align: center; */
    border: 1px solid red;
    margin: 0 auto;
    padding: 10rem;
}

h1 {
    margin-bottom: 4rem;
}

#task-title {
    width: 70rem;
    height: 4rem;
    padding: 0.5rem 1.8rem;
    border-radius: 100px;
}

.create-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#task-description {
    width: 70rem;
    border-radius: 2rem;
    padding: 1.8rem 1.8rem;
}


/* Hide default radio buttons */
input[type="radio"] {
    display: none;
}
  
  /* Style the radio container (optional) */
/* .radio-container {
    display: flex;
} */
  

input[type="radio"] + label {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border: 2px solid #000;
    border-radius: 4rem;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    margin: 0 10px; /* Add spacing between boxes */
}

input[type="radio"]:checked + label {
    background-color: #000;
    color: #fff;
}

.create-task-btn {
    font-size: 1.8rem;
    padding: 0.4rem 1rem;
    border-radius: 100px;
}

.btn {
    font-size: 1.6rem;
    padding: 0.4rem 1rem;
    border-radius: 100px;
}

.buttons {
    text-align: center;
    margin-bottom: 4rem;
    
}

.task {
    width: 70rem;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
    /* height: 14rem; */
    margin: 0 auto;
    position: relative;
    box-shadow:  0 0 32px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    border-radius: 1.4rem;
}

.input-task {
    /* width: 100%; */
    /* height: 4rem; */
    border: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
   
}

.input-task:focus {
    border-bottom: 0.2rem inset black !important;
  outline: none;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: #087f5b;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.icon:hover {
    background-color: #d9e4e1;
    border-radius: 50%;
}

.action-buttons {
    /* border: 1px solid red; */
    text-align: right;
    /* position: absolute;
    top: 50%;
    right: 16rem;
    transform: translateY(-50%); */
}

.hidden-box {
    font-size: 1.8rem;
    grid-column: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.notes-label {
    display: block;
    margin-top: 1.4rem;
    padding-left: 0.8rem;
}

.hidden-description {
    width: 100%;
    height: auto;
    max-height: 20rem;
    padding: 0.8rem 0.8rem;
    background-color: transparent;
    border: none;
    pointer-events: none;
    resize: none;
    color: #000;
    overflow-y: hidden;
}

.notDisabled {
    margin-top: 0.2rem;
    border: 1px solid black;
    pointer-events: auto;
    resize: both;
    border-radius: 0.6rem;
    overflow-y: visible;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
}

.custom-checkbox input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 100px;
}

/* ~ sibling selector */
.custom-checkbox input:checked ~ .checkmark::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 0px;
  width: 0.8rem;
  height: 1.6rem;
  border: solid #2196F3;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* On hover, style the checkbox */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #f2f2f2;
}

.hidden-priority {
    padding-left: 0.8rem;
    /* margin-top: 1rem; */
    margin-bottom: 0.6rem;
}